include copyright COPYING.GPL COPYING.TGPPL.rst COPYING.MIT.txt COPYING.SPL.txt NEWS.rst README.rst
include README.ed25519.rst
include MANIFEST.in
include versioneer.py
include _doubleloadtester.cpp

graft src/pycryptopp
graft src-cryptopp
graft src-ed25519
graft misc
