[DEFAULT]
remove-first-log-line = True
verbose = True
patch-name-format = %(firstlogline)s

[project]
target = darcs:target
start-revision = INITIAL
state-file = tailor.state
source = svn:source
subdir = .

[darcs:target]

[svn:source]
module = trunk
repository = http://cryptopp.svn.sourceforge.net/svnroot/cryptopp

